local/
data/*

.venv/
.vscode/
__pycache__/
bert_model/
HMM/
*.pyc
*.pyo
*.pyd
.Python
*.csv
*.pdf
*test*.py
*.pkl
result/*/*.html
result/Anomaly_Detection/*_score_distribution.png
result_*
*.log

!data/groundtruth/
!data/groundtruth/**


!result/Labeling_Results/Summary*

syslogs/
system_labels/
